<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h3 class="text-light">My Product</h3>
        <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clickAdd()">
            <b>+ </b>
            Add Product
        </button>
    </div>
</nav>
<br>
<table >
  <tr >
    <th style="width:10% ">Id</th>
    <th style="width:20% ">Picture</th>
    <th style="width:10% ">Name</th>
    <th style="width:10% ">Price</th>
    <th style="width:20% height 20%">Description</th>
  
    <th style="width:20% ">Edit</th>
  </tr>
  <tr *ngFor="let data of employeeData">
    <td>{{ data.id }}</td>
    <td ><img src="{{ data.picture }}"></td>
    <td>{{ data.nameproduct }}</td>
    <td>{{ data.price }}</td>
    <td style="width:20% height 20%">{{ data.detail }}</td>
   
   
   
    <td>
      <button class="btn btn-info text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clickEdit(data)">Edit</button> &nbsp;
        <button class="btn btn-danger me-3" (click)="deleteEmployee(data.id)">Delete</button>   
    </td>
</tr>
</table>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEmployee">
          Name
            <input type="text" class="form-control" formControlName="nameproduct">
           Description
            <input type="text" class="form-control" formControlName="detail">
            Picture
            <input type="text" class="form-control" formControlName="picture">
            Price
            <input type="text" class="form-control" formControlName="price">
           
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
        <button type="button" class="btn btn-primary" (click)="postEmployee()" *ngIf="showAdd">Save</button>
        <button type="button" class="btn btn-info text-light" (click)="updateEmployee()" *ngIf="showUpdate">Update</button>
      </div>
    </div>
  </div>
</div>
<style>
  table,
  th,
  td {
      border: 1px solid black;
  }
   
  table {
      border-spacing: 5px;
      text-align: center;
  }
  </style>